@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .EternalTalk-FadeInImage {
    animation: FadeIn 1.5s;
  }
  .EternalTalk-FadeInText {
    opacity: 0;
    animation: FadeIn 1s 2s forwards;
  }
  .EternalTalk-FadeInButton {
    opacity: 0;
    pointer-events: none;
    animation: FadeIn 1s 6s forwards;
  }
  .EternalTalk-FadeInSkillTreeImage {
    opacity: 0;
    animation: FadeIn 1s 4s forwards;
  }
  .EternalTalk-FadeInButtons {
    opacity: 0;
    pointer-events: none;
    animation: FadeIn 1s 8s forwards;
  }
  .CoolButton {
    @apply bg-white text-black hover:translate-y-2.5 hover:border-b-4 transition-transform border-b-8 border-primary px-3 py-2 bg-bottom rounded-lg;
  }
}
@font-face {
  font-family: "JosefinSans";
  src: url("/JosefinSans-VariableFont_wght.ttf");
}
@keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    pointer-events: auto;
  }
}
.animatedBodyBG {
  background: linear-gradient(270deg, #a88beb, #f8ceec);
  background-size: 400% 400%;
  -webkit-animation: AnimatedGradient 19s ease infinite;
  -moz-animation: AnimatedGradient 19s ease infinite;
  animation: AnimatedGradient 19s ease infinite;
}
html,
body {
  background-color: #f8ceec;
  @apply font-JosefinSans;
  @apply font-normal;
}
@-webkit-keyframes AnimatedGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimatedGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimatedGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
img {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
