#content {
  position: relative;
}
.mydiv {
  border-radius: 50%;
  position: absolute;
}
.node {
  width: 32px;
  height: 32px;
  z-index: 3;
}

/* @media (max-width: 768px) {
  .node {
    width: 25px;
    height: 25px;
  }
} */
