#content {
  position: relative;
}
.mydiv {
  border-radius: 50%;
  position: absolute;
}
.node {
  width: 40px;
  height: 40px;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rounded-image {
  border-radius: 50%;
}
/* @media (max-width: 768px) {
  .node {
    width: 25px;
    height: 25px;
  }
} */
